@import url('https://fonts.googleapis.com/css?family=Gaegu|Gloria+Hallelujah|Rock+Salt');



#body {
    font-family: Akbar, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    margin: 0;
    background-color: #e6ffff;
}

/*Genial (general settings)*/

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 17px;
    
}
.container h3 {
    font-weight: bold;
    color:#1a0600;
}

ul {
    margin: 0;
    padding: 0;

}

.dark {
    padding: 15px;
    background: #fbc531;
    color: #000;
    margin-top: 18px;
    margin-bottom: 10px;
    text-align: center;
    background:url("/assets/images/transparent-envelope-template5.jpg") center no-repeat;
}
.dark2{
    padding: 15px;
    background: #fbc531;
    color: #000;
    margin-top: 18px;
    margin-bottom: 10px;
    text-align: center;
    background:url("/assets/images/yellow-c5-banker_grande.jpg") center no-repeat;
    
}

.button_1 {
    border: none;
    background: #F79F1F;
    color: #404040;
    padding: 10px;
    font-size: 18px;
    border-radius: 4px;
    position: relative;
    box-sizing: border-box;
    transition: all 300ms ease;
    font-family: 'Rock Salt', cursive;


}

.button_1:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 47px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    transition: all 2s ease;
}

.button_1:hover:before {
    width: 100%;
}
/*round image itchy and scratchy*/
.img {
  border-radius: 75%;
  
  flex: 0 0 150px;
  justify-content: center;
  overflow: hidden;
  left:50%;
  height: 45px;
  width: 45px;
  position: absolute;
  margin-bottom: 15px;
}

.img {
   
    transition: transform .2s; /* Animation */
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.img:hover {
    transform: scale(2.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/*Title*/

/*header*/


header {
    background: #BA5536;
    color: #332900;
    padding-top: 30px;
    min-height: 70px;
    border-bottom:#fbc531 4px solid;
}

header a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #bart {
    float: left;
}


header #bart h1 {
    margin: 0;

}

header nav {
    float: right;
    margin-top: 15px;
}

header .highlight,
header .current a {
    color: #fff200;
    font-weight: lighter;

}

header a:hover {
    color: #ffda79;
    font-weight: bolder;
}

/*Index.html-----*/

/*---Slider----*/

@keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: -100%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -200%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -300%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -400%;
    }
    100% {
        left: -400%;
    }
}

figure.slider {
    position: relative;
    width: 500%;
    font-size: 0;
    /*animation: 45s 6s slidy infinite;*/
    animation-name: slidy;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

figure.slider figure {
    width: 20%;
    height:auto;
    display: inline-block;
    position: inherit;
}

figure.slider img {
    width: 100%;
    height: auto;
}

figure.slider figure figcaption {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #a5b812;
    width: 100%;
    font-size: 2rem;
    padding: .6rem;
}

* {
    box-sizing: border-box;
}
#boxes {
    margin-top: 0px;
    background-color:#CD7213;
    color:#4d4d33;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img {
    width: 90px;
}





/*Library*/


/*-----animation-------(both LIbrary and Concerts)*/

.springfield{
    background-image: url('/assets/images/welcome_to_sprienfield.jpg')
}
.homer{
    background-image: url('/assets/images/homer_couch.jpg')
}
.bart{
    background-image: url('/assets/images/bart_kiting_ss-vi.jpg')
}
.lisa{
    background-image: url('/assets/images/lisas saxo.jpg')
}
.maggie{
    background-image: url('/assets/images/maxresdefault.jpg')
}
.marge{
    background-image: url('/assets/images/flying Marge.jpg')
}

.main {
    animation: bgcolor infinite 20s;
}

@keyframes bgcolor {
    0% {
        background: #cccc00;
    }
    20% {
        background: #ffff00;
    }
    40% {
        background: #e6e600;
    }
    60% {
        background: #999900;
    }
    80% {
        background: #ffff33;
    }
    100% {
        background: #ffff66;
    }
}

.video_title_category{
    
    padding:18px 0 37px 0;
}

.wrapper_video{
    margin: 15px 0 25px 0;
}
iframe{
    height: 190px
}

/*newsletter------aside for library and Concerts and Index*/

#newsletter {
    padding: 15px;
    color: #000;
    background: #eccc68;
    border-bottom: 3px #eb2f06 solid;

}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 45px;
    width: 150px;
}

/*---acordeon---*/
body {
  color: #000;
  background: yellow;
}
h1 {
  text-align: center;
}
.half {
  float: left;
  width: 100%;
 
}
/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  color: #000;
  overflow: hidden;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1vh;
  background: #E4B600;
  font-weight: 200;
  line-height: 3;
  cursor: help;
}
.blue label {
  background: #2980b9;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  background: #EE5A24;
  transition: max-height .75s;
}
.blue .tab-content {
  background: #3498db;
}
.tab-content p {
  margin: 1vh;
  padding: 5px;
}
/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  
  transition: all .35s;
}
.tab input[type=checkbox] + label::after {
  content: "+";
}
.tab input[type=radio] + label::after {
  content: "\25BC";
}
.tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
.tab input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}



/*Sidebar*/

aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}
.button_2{
    height: 15px;
    margin-top: 10px;
    border:2px solid red;
}

/*Main-col*/

article#main-col {
    float: left;
    width: 65%;


}

aside#sidebar .quote input,
aside#sidebar .quote textarea {
    font-family:'Gloria Hallelujah';
    
}
.petition_input{
    margin-bottom: 5px;
}
.quote textarea {
        width: 100%;
        height: 90px;
        margin-bottom: 5px;
    }

aside#sidebar .quote textarea

/*Services---list for images in Concerts.html*/

ul#service li {
    list-style: none;
    padding: 20px;
    border:  #994d00 solid 2px;
    margin-bottom: 5px;
    background: #d9f2e6;
}

.bordered {
    border: #ff0000 solid 2px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    margin:10px 15px 10px 15px;
    padding: 10px 10px;
    list-style: none;
    
}
.Simpsons_square{
    background: url('assets/images/welcome_to_sprienfield.jpg');
}

.bordered h3 {
    color: white;
    text-align: left;
    margin: 0px;
}

.bordered p {
    color: #4d2600;
}
    
.bordered audio {
    width: 45%;
    display: block;
}

.bordered audio .long {
    width: 95%;
}




/* - Library grid----personages video */

.personage{
    color:#3300ff;
}
.personage2{
    color:#ff3300;
}.personage3{
    color:gray;
}
.personage4{
    color:#00ccff;
}
.personage5{
    color: #ff00cc;
}
.personage6{
    color:#4cff00;
}



/*------- footer ------------*/

footer {
   
    padding: 20px;
    color: #000;
    background-color: #DDBC95;
    text-align: center;
    width: 100%
}
.fa{
    
}
.social-icons {
    margin-right: 1300px;
    vertical-align: bottom;
}

.pull-right {
    position: relative;
    right: 75px;
    bottom: 28px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    width: 51px;
    height: 51px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}


.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}


/*--------------media----------------*/

@media (min-width: 766px) { 
    iframe{
        width:100%;
        
    }
}
@media (max-width: 766px) {
 article#main-col{
        width:100%;
        padding: 0px 0px; 
    }
 aside#sidebar{
     width:95%;
     padding: 5px 5px;
     margin: 0 10px;
    }
 }
 .containerV ul li{
     width: 45%;
     display: list-item;
 }
 .col col col-lg-3{
     margin-left: 55px;
 }
.video_title_category{
  text-align: center;
 }
 .img{
    display: none;
}
@media(max-width: 767px) {
    .couch,
    header #bart,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    .article#main-col,
    .aside#sidebar,.wrapper,
    .container{

        float: none;
        text-align: center;
        width: 100%;
}
.img{
    display: none;
}
    
    }
    header {
        padding-bottom: 20px;
    }
    #showcase h1 {
        margin-top: 40px;
    }
    #newsletter button {
        display: inline-block;
        width: 100%;
        
    }
    #newsletter form input[type="email"],
    .quote input {
        width: 100%;
        height: 40px;
        margin-bottom: 5px;
    }
     .message_petition{
        width: 100%;
        height: 90px;
        margin-bottom: 5px;
    }
    .request{
        text-align: center
        
    }
@media only screen and (max-width: 1199px) {
    .new {
        display: none;
    }
} 

@media only screen and (min-width: 1200px) {
    .img {
        display: inherit;
    }
} 

/*----Videos library----*/


/*------Audio-----*/

body,
figure {
    margin: 0;
    background: white;
    font-family:'Gloria Hallelujah', cursive;
    font-weight: 100;
}

div#captioned-gallery {
    width: 100%;
    overflow: hidden;
    height: auto;
    background-size: cover
}

/*Title concerts*/

.right-audio {
    position: relative;
    right: 75px;
    bottom: 28px;
}

.page-title {
    text-align: center;
    font-style: oblique;
    height: 55px;
    margin-top: 18px;
    margin-bottom: 26px;
}

/*----Contact----*/

.large{
    
    padding-top: 100px;
    padding-bottom: 100px;
}
.contacts{
    color:#99ff33;
    
    background-image: url('/assets/images/moe_phone.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.list-unstyled{
    color:red;
}
.text_title{
    
}
.ctitle h2{
    font-size: 54px;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.ctitle p{
    font-size: 37px;
    font-weight: 300;
}

.input ul{
    margin-top:20px;
    margin-left: 20px;
    text-decoration: none;
    
}
.input li{
    margin:15px 0px;
    font-weight: 200;
    font-size: 25px;
    
}

.input li a{
    color:red;
}

.input form .form-control{
    color:#000;
    box-shadow: none;
    border-color:#000;
    background: rgba(0,0,0,0.2);
}
.input form .form-control:focus{
    background: rgba(0,0,0,0.6);
}
.red{
    color:#ea0000;
    
}
.btn{
    margin-top: 10px
}

